body {
  min-width: 940px;
  background: #222;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
}
.content_wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.container_double{

}
.check {
  width: 30px;
  height: 30px;
  background: url('../img/check.svg');
  display: inline-block;
  vertical-align: middle;
}
h1 {
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  line-height: 1.3em;
  font-family: 'Open Sans';
  font-size: 32px;
  font-weight: 300;
  color: #222;
}
h2 {
  text-align: center;
  line-height: 1.4em;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #222;
}
p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  color: #57666e;
}
section {
  padding: 60px 30px;
}
a {
  text-decoration: none;
}
a.button {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #f87a1c;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .6px;
  border-radius: 2px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.site-nav a.button {
  min-width: auto;
}
a.button:hover {
  background-color: #d3353b;
}
.circle_with_number {
  color: #f87a1c;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #f87a1c;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}
nav {
  position: relative;
  background-color: #f7f8f9;
  border-bottom: 1px solid #ebedf0;
  width: 100%;
  padding: 25px 0;
}
nav ul {
  position: absolute;
  right: 50px;
  top: 8px;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: .6px;
}
nav li a {
  line-height: 19px;
  color: #222;
}
#logo {
  display: inline-block;
  width: 250px;
  height: 26px;
  margin-left: 50px;
  background-image: url('../img/text_logo.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.red_divider {
  width: 80px;
  height: 2px;
  background-color: #f87a1c;
  margin: 30px auto;
}
.home .splash {
  padding: 0;
  background-image: url('../img/background.jpg');
  background-position: center center;
  background-size: cover;
}
.home .splash .splash_wrapper {
  text-align: center;
}
.home .splash .splash_wrapper #exoshield {
  width: 365px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.home .splash .splash_wrapper .border {
  width: 320px;
  border: 5px solid rgba(244, 244, 244, 0.95);
}
.home .splash .splash_wrapper .border.top {
  border-bottom: none;
  margin: 80px auto 20px auto;
  height: 70px;
  position: relative;
  text-align: center;
}
.home .splash .splash_wrapper .border.top h1 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .6px;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  margin: 0;
  left: calc(33%);
}
.home .splash .splash_wrapper .border.bottom {
  border-top: none;
  border-bottom: none;
  margin: 20px auto 0;
  padding-bottom: 140px;
  text-align: center;
}
.home .splash .splash_wrapper .border.bottom .red_divider {
  display: inline-block;
}
.home .splash .splash_wrapper .border.bottom h2 {
  font-weight: 400;
  font-size: 16px;
  color: #ddd;
  margin: 0 auto;
  line-height: 1.4em;
}
.home .intro {
  background-color: #fafafa;
}
.home .intro img {
  margin-top: -20px;
}
.home .intro h1 {
  text-align: left;
}
.home .intro p {
  font-size: 20px;
}
.home .intro .red_divider {
  margin-left: 0;
}
.home .value {
  background-color: #eef1f2;
}
.home .value h1 {
  text-align: center;
}
.home .value h3 {
  margin-left: 10px;
  color: #57666e;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  vertical-align: 50px;
}
.home .value img {
  margin-bottom: 10px;
  margin-top: 30px;
  width: 80px;
  height: 80px;
}
.home .value .row2 {
  max-width: 620px;
  width: 66%;
  margin: 0 auto;
}
.home .value .with_tag {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: 35px;
}
.home .value .with_tag .solar_tag,
.home .value .with_tag .frost_tag {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  margin-top: 5px;
}
.home .value .with_tag .solar_tag {
  color: #17abc1;
  background-color: #c2fff6;
}
.home .value .with_tag .frost_tag {
  color: #fff;
  background-color: #00d6b6;
}
.home .value .with_tag h3 {
  margin: 0;
  vertical-align: 0;
}
.home .see_product_line {
  text-align: center;
  background-color: #f6f9fc;
}
.home .see_product_line h1,
.home .see_product_line p {
  margin-bottom: 30px;
}
.home .see_product_line a:not(.button) {
  display: block;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  color: #2e3841;
}
.home .home_page_benefits {
  background-color: #fcfeff;
  text-align: center;
}
.home .home_page_benefits .section {
  text-align: left;
}
.home .home_page_benefits h3 {
  display: inline-block;
}
.home .home_page_benefits .section p {
  margin-bottom: 20px;
}
.exoshield .splash {
  background-color: #fcfeff;
  text-align: 0 auto;
}
.exoshield .splash img {
  width: 783px;
  margin: 0 auto 60px;
  display: block;
}
.exoshield .benefits {
  background-color: #f7f8f9;
  text-align: 0 auto;
}
.exoshield .benefits img {
  width: 783px;
  margin: 0 auto 60px;
  display: block;
}
.exoshield .benefits ul {
  list-style-type: none;
  margin: 0;
}
.exoshield .benefits ul li:last-child h2 {
  margin: 0;
}
.exoshield .benefits h1,
.exoshield .benefits h2 {
  color: #222;
}
.exoshield .benefits h2 {
  display: inline-block;
  margin: 0 0 20px;
  font-size: 20px;
}
.exoshield .benefits p {
  color: #445057;
  margin-bottom: 20px;
}
.exoshield .wipers {
  margin-top: 30px;
}
.exoshield .wipers img {
  width: 140px;
  vertical-align: top;
}
.exoshield .wipers .text_wrapper {
  display: inline-block;
  width: 750px;
  margin-left: 30px;
}
.exoshield .wipers h2 {
  color: #16c0c4;
  font-weight: normal;
  margin-bottom: 10px;
}
.exoshield .cost_savings,
.exoshield .comfort {
  background-color: #fcfeff;
}
.exoshield .driver_safety,
.exoshield .eco_friendly {
  background-color: #f7f8f9;
}
.exoshield .cost_savings p,
.exoshield .comfort p,
.exoshield .driver_safety p,
.exoshield .eco_friendly p {
  margin-bottom: 30px;
}
.exoshield .cost_savings .section.group p,
.exoshield .comfort .section.group p,
.exoshield .driver_safety .section.group p,
.exoshield .eco_friendly .section.group p {
  margin: 10px 0 0;
}
.exoshield .cost_savings h1,
.exoshield .comfort h1,
.exoshield .driver_safety h1,
.exoshield .eco_friendly h1,
.exoshield .cost_savings h2,
.exoshield .comfort h2,
.exoshield .driver_safety h2,
.exoshield .eco_friendly h2 {
  text-align: left;
  display: inline-block;
}
.exoshield .cost_savings h1,
.exoshield .comfort h1,
.exoshield .driver_safety h1,
.exoshield .eco_friendly h1 {
  margin-bottom: 30px;
  vertical-align: -4px;
}
.exoshield .brochure {
  background-color: #fcfeff;
  text-align: center;
}
.exoshield .brochure h1 {
  margin-bottom: 30px;
}
.exoshield .product_line {
  text-align: center;
  background-color: #2e3841;
}
.exoshield .product_line h1 {
  color: #fff;
}
.exoshield .product_line h1.contact_us {
  margin-bottom: 30px;
}
.exoshield .product_line p {
  color: #93aebb;
}
.exoshield .product_line table {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fff;
  border-collapse: collapse;
}
.exoshield .product_line table tr:first-child td:first-child {
  background-color: #2e3841;
  border: none;
}
.exoshield .product_line table tr:first-child td {
  height: 100px;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3em;
  border: none;
}
.exoshield .product_line table td {
  background-color: #f7fefd;
  width: 232px;
  border: 1px solid #ebf0f3;
  text-align: center;
  padding: 0 20px;
}
.exoshield .product_line table td.disabled {
  background-color: #fbfbfb;
}
.exoshield .product_line table td.exoshield_header {
  color: #7b92a8;
  background-color: #eefffc;
}
.exoshield .product_line table td.solar_header {
  color: #17abc1;
  background-color: #c2fff6;
}
.exoshield .product_line table td.antifrost_header {
  color: #fff;
  background-color: #17abc1;
}
.exoshield .product_line table td:first-child {
  background-color: #fff;
  text-align: left;
  font-weight: 600;
  color: #2c4760;
  font-size: 16px;
  max-width: 200px;
  height: 70px;
  padding: 0 20px;
}
.exoshield .product_line table tr:last-child td {
  background-color: #fff;
}
.exoshield .warranty {
  background-color: #f7f8f9;
  text-align: center;
}
.exoshield .warranty p {
  margin-bottom: 20px;
  text-align: left;
}
.exoshield .warranty table {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  background-color: #f9fdfe;
  border-collapse: collapse;
  color: #2c4760;
}
.exoshield .warranty table strong {
  display: block;
  margin-bottom: 5px;
}
.exoshield .warranty table td {
  border: 1px solid #e8eef1;
  padding: 20px;
}
.exoshield .warranty table tr:first-child td {
  font-size: 28px;
  font-weight: 300;
  height: 60px;
  width: 240px;
}
.exoshield .warranty table tr:first-child td:first-child {
  border: none;
  background-color: #f7f8f9;
}
.exoshield .warranty table tr:first-child td.one_year_header {
  background-color: #fff;
  color: #17abc1;
}
.exoshield .warranty table tr:first-child td.two_year_header {
  background-color: #3dcbe0;
  color: #fff;
}
.exoshield .warranty table tr td:first-child {
  background-color: #fff;
  text-align: left;
  width: 470px;
}
.exoshield .warranty table td.plain {
  background-color: #fff;
}
.exoshield .warranty table td.disabled {
  background-color: #f9f9f9;
}
.exoshield .warranty h1.contact_us {
  margin-bottom: 30px;
}
.partnerships .splash {
  background-color: #fcfeff;
  text-align: center;
}
.partnerships .splash .partnership_details {
  text-align: left;
  margin-top: 30px;
}
.partnerships .splash .partnership_details h2 {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  text-align: left;
  margin-bottom: 10px;
}
.partnerships .partnership_brochure,
.partnerships .partnership_contact {
  text-align: left;
}
.partnerships .partnership_brochure h1,
.partnerships .partnership_contact h1,
.partnerships .partnership_brochure p,
.partnerships .partnership_contact p {
  text-align: left;
  color: #445057;
  margin-bottom: 30px;
}
.partnerships .partnership_brochure a,
.partnerships .partnership_contact a {
  min-width: auto;
}
.partnerships .partnership_contact {
  background-color: #fcfeff;
}
.partnerships .partnership_brochure {
  background-color: #f7f8f9;
}
.contact {
  text-align: center;
  background-color: #f6f9fc;
}
.contact form {
  padding-top: 30px;
  width: 630px;
  margin: 0 auto;
  text-align: center;
}
.contact form input,
.contact form textarea {
  resize: none;
  font-size: 14px;
  width: calc(60%);
  padding: 20px;
  border: 1px solid #c8ced6;
  border-radius: 2px;
  margin-bottom: 8px;
}
.contact form input[name='message'],
.contact form textarea[name='message'] {
  padding-bottom: 100px;
}
.contact form input[type='submit'],
.contact form textarea[type='submit'] {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 180px;
  padding: 15px;
  margin-top: 40px;
  text-transform: uppercase;
  color: #fcfeff;
  letter-spacing: .6px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f87a1c;
  border: none;
  border-radius: 2px;
}
.contact_details {
  background-color: #fcfeff;
}
.about .splash {
  background-color: #fcfeff;
}
.about .splash p {
  margin-bottom: 20px;
}
.about .collaborators {
  background-color: #f7f8f9;
  text-align: center;
}
.about .collaborators img {
  max-width: 160px;
  margin-top: 30px;
}
.about .team {
  background-color: #fcfeff;
}
.about .team img {
  vertical-align: -4px;
  width: 20px;
  height: 20px;
}
.about .team img.face {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.about .team .faces {
  padding-bottom: 30px;
}
.site-footer {
  padding: 80px 0 30px;
  background-color: #994d00;
}
.site-footer img {
  width: 120px;
  margin-bottom: 20px;
}
.site-footer form {
  margin: 20px 0;
}
.site-footer form input {
  font-size: 14px;
  height: 50px;
  padding-left: 20px;
  width: 300px;
  border: 1px solid #c8ced6;
  border-radius: 2px;
  margin-bottom: 8px;
}
.site-footer form input[type='submit'] {
  display: block;
  padding: 10px 20px;
  width: 180px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #fcfeff;
  letter-spacing: .6px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #4b7bc9;
  border: none;
  border-radius: 2px;
}
.site-footer p,
.site-footer a {
  color: #fff;
  font-size: 14px;
  margin-bottom: 4px;
}
.site-footer a {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  letter-spacing: .6px;
}
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0 auto;
  max-width: 940px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0 0 1% 3%;
}
.col:first-child {
  margin-left: 0;
}
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 65%;
}
.span_1_of_3 {
  width: 31%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 48%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74%;
}
.span_2_of_4 {
  width: 48%;
}
.span_1_of_4 {
  width: 22%;
}

/* List */
.solutions-list {
  padding-left: 50px;
}
.solutions-list li {
  width: 33.33333333%;
  float: left;
  padding: 10px;
  margin: 0px;
}
.solutions-list li a {
  border: 1px #ccc solid;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 0px!important;
  padding: 40px 0px 30px 0px;
  background: #fff;
}
.solutions-list li a em {
  text-transform: uppercase;
  font-size: 17px;
  color: #333;
  font-style: normal;
  font-weight: 500;
}
.solutions-list li a i {
  width: 76px;
  height: 73px;
  margin: auto;
  display: table;
  margin-bottom: 10px;
  transition-duration: 0.3s
}
.solutions-list li a:hover i {
  transition-duration: 0.3s;
}
.solutions-list li a:hover {
  border-color: #0282c3;
  box-shadow: 0px 0px 0px 3px #0282c3 inset
}
.solutions-list li a:hover em {
  color: #0282c3;
}
.solutions-list li a i {
  background-image: url(../img/solution-icon.svg);
  background-repeat: no-repeat;
}
/*.solutions-list li a i.smart-office {
  background-position: -10px -6px;
}
.solutions-list li a i.smart-retail {
  background-position: -106px -6px;
}
.solutions-list li a i.smart-building {
  background-position: -203px -6px;
}
.solutions-list li a i.smart-manufac {
  background-position: -295px -6px;
}
.solutions-list li a i.smart-health {
  background-position: -399px -6px;
}
.solutions-list li a i.smart-parking {
  background-position: -508px -6px;
}
.solutions-list li a:hover i.smart-office {
  background-position: -10px -100px;
}
.solutions-list li a:hover i.smart-retail {
  background-position: -106px -100px;
}
.solutions-list li a:hover i.smart-building {
  background-position: -203px -100px;
}
.solutions-list li a:hover i.smart-manufac {
  background-position: -295px -100px;
}
.solutions-list li a:hover i.smart-health {
  background-position: -399px -102px;
}
.solutions-list li a:hover i.smart-parking {
  background-position: -508px -100px;
}
.solution-content .wpb_text_column {
  margin-top: 60px;
}
.solution-content .wpb_text_column p {/*line-height:30px; 
}
.solution-wrap .wpb_text_column :last-child {
  margin-bottom: 0px
}*/


/*  GO FULL WIDTH BELOW 480 PIXELS */
.fade-in {
  opacity: .3;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}
.fade-in-up {
  opacity: .3;
  /* make things invisible upon start */
  -webkit-animation: fadeInUp ease-in-out 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeInUp ease-in-out 1;
  animation: fadeInUp ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.home .delayed {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-transform: translateY(5px);
    /* IE 9 */
    -webkit-transform: translateY(5px);
    /* Chrome, Safari, Opera */
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    -ms-transform: translateY(0);
    /* IE 9 */
    -webkit-transform: translateY(0);
    /* Chrome, Safari, Opera */
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-transform: translateY(5px);
    /* IE 9 */
    -webkit-transform: translateY(5px);
    /* Chrome, Safari, Opera */
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    -ms-transform: translateY(0);
    /* IE 9 */
    -webkit-transform: translateY(0);
    /* Chrome, Safari, Opera */
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-transform: translateY(5px);
    /* IE 9 */
    -webkit-transform: translateY(5px);
    /* Chrome, Safari, Opera */
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    -ms-transform: translateY(0);
    /* IE 9 */
    -webkit-transform: translateY(0);
    /* Chrome, Safari, Opera */
    transform: translateY(0);
  }
}