@charset "utf-8";
/*********************************************************//*********************************************************//*******************New Blog Css *************************//*********************************************************//*********************************************************/
.blog_banner {
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 70px;
	text-align: center;
	background-attachment: fixed !important;
}
.blog_banner h1 {
	font-size: 54px;
	color: #ffffff;
	font-weight: 900;
	padding-top: 22%;
	margin-bottom: 15px;
}
.blog_banner p {
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	padding: 0 0 35px;
}
.blog_tab {
	background: #f0f0f0;
	position: relative;
}
.blog_tab ul.slimmenu2 {
	display: table;
	width: 100%;
}
.blog_tab li {
	display: table-cell;
	border-left: solid 1px #d9d9d9;
}
.blog_tab li:first-child {
	border-left: 0;
}
.blog_tab li a {
	color: #979797;
	font-size: 16px;
	padding: 15px 10px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.blog_tab li a:hover, .blog_tab li.active a {
	border-bottom: solid 4px #2b9fd9;
	padding: 15px 10px 11px 10px;
	color: #2b9fd9;
}
.colum-2_layout {
	position: relative;
}
.colum-2_layout .leftpart {  /*border-right: solid 1px #e3e3e3;  margin-right: 311px;*/
	margin-bottom: 10px;
	float: left;
	width: 67%;
}
.colum-2_layout.sidebar_block2 .leftpart {
	border-right: 1px solid #e3e3e3;
}
.colum-2_layout.sidebar_block2 .rightpart {
	width: 30%;
	padding-left: 4%;
	margin-left: -1px;
	border-left: 1px solid #e3e3e3
}
.posts {
	margin-right: 30px;
}
.posts li {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 35px;
	padding-bottom: 35px;
	border-bottom: solid 1px #dce4eb;
	overflow: hidden;
	clear: both;
}
.posts li:first-child {
	margin-top: 0;
}
.posts li .image {
	float: left;
	width: 20%;
}
.posts li .textpart {
	float: right;
	width: 77%
}/*.posts li .image{ float:left; width:34%;}.posts li .textpart{float:right; width:62%}*/
.posts li .textpart p {
	color: #6f6f6f;
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 10px;
}
.posts li .textpart .comments {
	background: url(../images/comments_icon.html) no-repeat center left;
	padding-left: 22px;
	color: #979797;
	font-size: 14px;
	margin-bottom: 15px;
}
.posts li .textpart .readmore {/* background:url(../images/readmorelink_arrow.png) no-repeat center left; padding-left:22px;*/
	text-decoration: underline;
}/*.posts li .image{ height:214px;}*/
.posts li .image img {
	vertical-align: top;
	max-width: 100%;
	border: 1px #dbdbdb solid;
}
.posts li .date {
	color: #ffffff;
	font-size: 12px;
	background: rgba(0,0,0,0.3);
	display: inline-block;
	padding: 4px 8px;
	position: absolute;
	margin-top: -25px
}
.posts li .postname {
	color: #979797;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.posts li h2 {
	font-size: 17px;
	line-height: 25px;
	padding: 0 0 2px 0;
	width: 100%;
	font-size: 19px;
}
.posts li .author_name {
	margin-bottom: 12px;
	color: #979797;
	font-size: 14px;
}
.posts li .author_name span {
	color: #3baedf;
	font-weight: bold;
}
.author_name span.single_post_author {
	color: #3baedf;
	font-weight: bold;
}
.posts li .tags span {
	color: #3baedf;
	font-size: 14px;
}
.posts li .tags a {
	color: #979797;
	font-size: 14px;
}
.rightpart {
	width: 28%;
	float: left;  /* position: absolute;  right: 0;  top: 0;*/
}
.rightpart h2 {
	font-size: 19px;
	color: #000000;
	line-height: 26px;
	font-weight: 600;
}
.subscribe_form {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 47px;
	margin-bottom: 35px;
}
.subscribe_form label {
	color: #000000;
	font-size: 14px;
}
.subscribe_form input.textbox {
	border: solid 2px #dce3ef;
	color: #718097;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 30px;
	padding: 12px 30px;
	margin-top: 10px;
	box-shadow: none;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
}
.subscribe_form .subscribebtn {
	display: block;
	background: #2b9fd9;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	transition-duration: 0.3s;
	padding: 12px 30px;
	border-radius: 30px;
	text-align: center;
	margin-top: 10px;
}
.subscribe_form .subscribebtn:hover {
	background: #2484b4;
	color: #fff;
	transition-duration: 0.3s;
}
.white_papers_list {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 31px;
	margin-bottom: 35px;
}
.white_papers_list li {
	background: url(../images/white_papers_list_bullate.html) no-repeat left 8px;
	padding-left: 17px;
	margin-bottom: 16px;
}
.white_papers_list li:hover {
	background: url(../images/white_papers_list_bullate_active.html) no-repeat left 8px;
}
.white_papers_list li a {
	color: #979797;
	font-size: 14px;
}
.white_papers_list li:hover a {
	color: #2ea1db;
}
.google_follow {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 31px;
	margin-bottom: 35px;
}
.google_follow .logopart {
	float: left;
}
.google_follow .followpart {
	float: right;
	width: 136px;
}
.google_follow .followpart .title {
	color: #0674a7;
	font-size: 11px;
	margin-bottom: 3px;
}
.google_follow .followpart span {
	font-size: 11px;
	color: #979797;
}
.followus {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 31px;
	margin-bottom: 35px;
}
.followus .socialmedia {
	float: none
}
.followus .socialmedia li a {
	opacity: 0.5;
}
.followus .socialmedia li a {
	opacity: 1;
}
.twitterpart {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 31px;
	margin-bottom: 35px;
}
.blog_tab .collapse-button {
	top: 50%
}
.pagination {
	text-align: center;
	clear: both;
	margin-top: 45px;
}/*.blog_inner_banner {  background:url(../images/inner_banner.jpg) no-repeat 100% 100% #3c86ab;  text-align: center}*/
.blog_inner_banner {
	background: url("../images/inner_banner.jpg") no-repeat scroll 100% 100% #3c86ab;
	padding-bottom: 60px;
	padding-top: 100px;
	text-align: center;
}
.blog_inner_banner h1 {
	font-size: 54px;
	color: #ffffff;
	font-weight: 900;
}
.innerblog {
	margin-right: 50px;
}
.innerblog p {
	font-size: 15px;
	line-height: 24px;
}
.innerblog h2 {
	font-size: 22px;
	font-weight: 600
}
.innerblog h3 {
	font-size: 16px;
	color: #000000;
}
.innerblog .image {
	margin-bottom: 30px;
	text-align: left;
}
.innerblog .image img {
	vertical-align: top;
	max-width: 100%;
}
.innerblog .post {
	margin-bottom: 30px;
}
.innerblog .post p {
	padding-bottom: 0
}
.blog_blocks {
	padding-left: inherit;
	margin-left: 15px;
	margin-bottom: 25px;
}
.blog_blocks li {
	list-style-type: decimal;
	color: #000000;
	font-size: 16px;
	position: relative;
	margin-bottom: 35px;
}
.blog_blocks li:after {
	content: "";
	border-top: solid 1px #dce4eb;
	height: 1px;
line-height:1px overflow:hidden;
	position: absolute;
	margin-left: -18px;
	margin-bottom: 20px;
	margin-top: 00px;
	width: 100%;
}
.blog_blocks li:last-child:after {
	border: 0
}
.blog_blocks li h3 {
	color: #000000;
	font-size: 16px;
}
.blog_blocks li p {
	position: relative;
	margin-left: -15px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0
}
.free_consultation {
	background: #f0f0f0;
	padding: 35px;
	border-radius: 6px;
	margin-bottom: 28px;
}
.free_consultation h2 {
	color: #000000;
	font-size: 21px;
	font-weight: 900;
	padding-bottom: 18px;
}
.free_consultation a {
	border-bottom: solid 1px #3baedf;
	padding-bottom: 0px;
}
.free_consultation a:hover {
	border-bottom: solid 1px #2484b4;
}
.bluebtn {
	background: #2b9fd9;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 30px;
	border-radius: 30px;
	color: #fff;
	text-transform: uppercase;
	transition-duration: 0.3s;
	display: inline-block;
	text-align: center;
	border: 0;
	cursor: pointer;
}
input.bluebtn {
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	box-shadow: none;
}
.bluebtn:hover {
	background: #2484b4;
	color: #fff;
	transition-duration: 0.3s;
}
.author_info {
	border-radius: 4px;
	border: solid 1px #dcdcdc;
	padding: 18px;
	padding-right: 10px;
	margin-bottom: 20px;
}
.author_info .author_photo {
	float: left;
	border: solid 1px #dce4eb;
	margin-right: 15px;
	border-radius: 5px;
}
.author_info .author_photo img {
	vertical-align: top;
	border: 0px;
	margin: 0px;
	padding: 1px;
	border-radius: 4px;
}
.author_info p {
	font-size: 13px;
	padding-bottom: 15px;
}
.tags span {
	color: #3baedf;
	font-size: 14px;
}
.tags a {
	color: #979797;
	font-size: 14px;
}
.tags a.with_bg {
	color: #fff;
	border-radius: 2px 5px;
	padding: 2px 5px;
	opacity: 0.9;
	font-size: 15px;
}
.share_on_p {
	padding-top: 8px;
}
.sidebar_block:first-child {
	border: medium none;
	margin-bottom: 0;
	padding: 0;
}
.white_paper_download {
	font-size: 21px;
	color: #2b9fd9;
	font-weight: 700;
}
.white_papers_talks_list {
	margin-bottom: 35px;
	margin-top: 50px;
}
.white_papers_talks_list h3 {
	margin-bottom: 20px;
}
.white_papers_talks_list li {
	background: url(../images/white_papers_list_bullate.html) no-repeat left 8px;
	padding-left: 17px;
	margin-bottom: 16px;
}
.reg-form {
	margin-top: 30px;
}
.reg-form h3 {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}
.reg-form label {
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	display: block;
	margin-bottom: 2px;
}
.reg-form .input_text {
	border: solid 1px #979797;
	width: 96%;
	padding: 5px 2%;
	height: 29px;
	margin-bottom: 20px;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	box-shadow: none;
}
.reg-form .bluebtn {
	width: 100%;
}/******************//***New Blog sidebar Css***/
.blue_mini_bt {
	background: #2ea1db;
	padding: 5px 18px;
	border-radius: 20px;
	color: #ffffff;
	font-size: 14px;
	display: inline-block
}
.blue_mini_bt:hover {
	color: #ffffff;
	background: #2484b4;
	transition-duration: 0.3s;
}
.blue_mini_bt:after {
	content: url('../images/blue_button_arrow.png');
	width: 8px;
	height: 10px;
	margin-left: 10px;
}
.free_trial {
	position: relative;
	text-align: center;
	margin: 0 auto 22px;
	display: block;
}
.free_trial .blue_mini_bt {
	bottom: 25px;
	color: #FFFFFF;
	left: 50%;
	margin-left: -72px;
	position: absolute;
}
.free_trial img {
	vertical-align: top;
	max-width: 100%;
}
.sidebar_block {
	border: solid 1px #dcdcdc;
	padding: 20px;
	margin-bottom: 22px;
}
.sidebar_block h2 {
	padding-bottom: 15px;
}
.sidebar_block input.textbox, .sidebar_block .select {
	border: 1px solid #dedede;
	box-shadow: none;
	color: #939393;
	font-size: 16px;
	transition-duration: 0.3s;
	padding: 10px 20px;
	border-radius: 4px;
	height: 47px;
	width: 100%;
	margin-bottom: 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: none;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
}
.sidebar_block input::-webkit-input-placeholder {
opacity:1;
color:#939393
}
.sidebar_block input:-moz-placeholder { /* Firefox 18- */
opacity:1;
color:#939393
}
.sidebar_block input::-moz-placeholder {  /* Firefox 19+ */
opacity:1;
color:#939393
}
.sidebar_block input:-ms-input-placeholder {
opacity:1;
color:#939393
}
.sidebar_block .select {
	background: url(../images/combox_arrow.png) no-repeat center right;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: button;
	-o-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
display: none;
}
.sidebar_block .select {
	background: none\9;
}
.sidebar_block .socia_list li {
	display: inline-block;
	margin-right: 8px;
}
.sidebar_block .insights_lists li {
	border-top: solid 1px #e2e2e2;
	padding-top: 10px;
	margin-top: 10px;
}
.sidebar_block .insights_lists li:first-child {
	border: 0;
	margin-top: 0;
	padding-top: 0;
}
.sidebar_block .insights_lists li a {
	color: #2ea1db;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 5px;
	display: inline-block;
}
.sidebar_block .insights_lists li .date {
	color: #979797;
	font-size: 13px;
	font-style: italic
}
.sidebar_block .viewall {
	background: url("../images/readmorelink_arrow.png") no-repeat left center;
	padding-left: 22px;
	float: none;
	margin-top: 20px;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	padding-top: 0;
}
.small_banner_bg {
	position: relative;
	background: #507cbe;
	padding: 20px 190px 20px 25px;
	margin-bottom: 30px;
}
.small_banner_bg p {
	font-size: 29px;
	color: #ffffff;
	line-height: 29px;
	padding: 0;
}
.small_banner_bg .twitter_share_bt {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: 34px;
}
.blog_banner_bg {
	margin: 12% auto;
	display: table;
}
.blog_banner_detail {
	background: #279bd6;
	width: 620px;
	margin: 0;
	padding: 50px;
	float: left;
}
.blog_banner_detail_left {
	float: left;
	width: 30%;
	text-align: left;
}
.blog_banner_detail_right {
	float: right;
	width: 65%;
	text-align: left;
}
.blog_banner_detail_right span {
	color: #fff;
	text-decoration: underline;
	font-size: 16px;
	font-style: italic;
}
.blog_banner_detail_right h2 {
	font-size: 32px;
	color: #fff;
	line-height: 38px;
	padding: 30px 0 30px 0;
	font-weight: bold;
}
.blog_doenload_btn {
	background: #fff;
	padding: 10px 30px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	border-radius: 30px;
	display: inline-block;
}
.blog_doenload_btn:hover {
	color: #2484b4;
}
.download_now_bt {
	background: #2ea1db;
	padding: 5px 18px;
	border-radius: 20px;
	color: #ffffff;
	font-size: 14px;
	display: inline-block
}
.download_now_bt:visited {
	color: #ffffff;
}
.download_now_bt:hover {
	color: #ffffff;
	background: #2484b4;
	transition-duration: 0.3s;
}/*.download_now_bt:after{content: url("../images/download_now_icon.png");width:8px; height:10px; margin-left:10px; vertical-align:middle}*//* blog page */
.learn_more_bt {
	background: #2ea1db;
	padding: 5px 18px;
	border-radius: 20px;
	color: #ffffff;
	font-size: 14px;
	display: inline-block
}
.learn_more_bt:visited {
	color: #ffffff;
}
.learn_more_bt:hover {
	color: #ffffff;
	background: #1777a7;
	transition-duration: 0.3s;
}
.learn_more_bt:after {
	width: 8px;
	height: 10px;
	margin-left: 10px;
	vertical-align: middle
}/* blog page *//************************infographic css*************************/
.infographics_listing {
	width: 100%;
}
.infographics_listing li {
	width: 25%;
	float: left;
	padding: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.infographics_listing .whitepaper_box_bg {
	border: 1px solid #dcdcdc;
	padding: 0px 0px 25px 0px;
	overflow: hidden;
	transition-duration: 0.3s;
	position: relative;
}
.infographics_listing .whitepaper_box_bg:hover {
	transition-duration: 0.3s;
	box-shadow: 0px 0px 5px #CCC;
}
.infographics_listing .whitepaper_box_bg:after {
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	transition-duration: 0.3s;
	content: '.';
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
}
.infographics_listing .whitepaper_box_bg:hover:after {
	left: 0px;
	top: 0px;
	transition-duration: 0.3s;
	opacity: 1;
}
.infographics_listing .whitepaper_box_bg_img img {
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 3px #666 inset
}
.infographics_listing .whitepaper_box_bg h2 {
	color: #484848;
	padding: 15px 10px 20px 10px;
}
.infographics_listing .whitepaper_box_bg .learn_more_bt {
	position: absolute;
	opacity: 0;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 0px;
	top: 0px;
	z-index: 99999;
	width: 135px;
	line-height: 23px;
	height: 35px;
	transition-duration: 0.5s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.infographics_listing .whitepaper_box_bg:hover .learn_more_bt {
	opacity: 1;
	transition-duration: 0.5s;
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
} /********case study********/
.case_study_listing {
	width: 100%;
	padding-bottom: 70px;
	overflow: auto;
}
.case_study_listing li {
	width: 25%;
	padding: 0px 14px 40px 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;
}
.case_study_listing li .whitepaper_box_bg {
	position: relative;
	overflow: hidden;
	padding: 0px 0px 1px 0px;
}
.case_study_listing li .whitepaper_box_bg .download_now_bt {
	position: absolute;
	opacity: 0;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 0px;
	top: 0px;
	z-index: 99999;
	width: 135px;
	line-height: 23px;
	height: 35px;
	transition-duration: 0.5s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	background: #fff;
	color: #000;
}
.case_study_listing li .whitepaper_box_bg:hover .download_now_bt {
	opacity: 1;
	transition-duration: 0.5s;
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	background: #ebebeb;
	color: #000;
}
.case_study_listing li .whitepaper_box_bg:after {
	top: -101%;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	transition-duration: 0.4s;
	content: '.';
	background: rgba(29, 31, 37, 0.7);
	opacity: 0;
	padding: 0px;
}
.case_study_listing li .whitepaper_box_bg:hover:after {
	left: 0px;
	top: 0px;
	transition-duration: 0.4s;
	opacity: 1;
	padding: 0px;
}    /********insights********/
.insights_listing {
	width: 100%;
}
.insights_listing li {
	width: 25%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.insights_listing li .whitepaper_box_bg {
	position: relative;
	overflow: hidden;
	padding: 0px;
	border: 1px solid #dcdcdc;
	padding: 20px 0px 10px 10px;
}
.insights_listing li .whitepaper_box_bg .learn_more_bt {
	position: absolute;
	opacity: 0;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 0px;
	top: 0px;
	z-index: 99999;
	width: 135px;
	line-height: 23px;
	height: 35px;
	transition-duration: 0.5s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.insights_listing li .whitepaper_box_bg:hover .learn_more_bt {
	opacity: 1;
	transition-duration: 0.5s;
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}
.insights_listing li .whitepaper_box_bg:after {
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	transition-duration: 0.3s;
	content: '.';
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
}
.insights_listing li .whitepaper_box_bg:hover:after {
	left: 0px;
	top: 0px;
	transition-duration: 0.3s;
	opacity: 1;
}
.insights_listing li .whitepaper_box_bg h2 {
	margin-left: -10px;
	padding: 0px 12px;
}
.video_listing ul li {
	font-size: 30px;
	padding-top: 20px;
}/************************End infographic css*************************//****************blog post listing page*************/
.menu-fixed, .infographic-menu-fixed {
	min-height: 64px;
	background: rgba(35, 35, 35, 0.9);
	position: 0.8;
	position: fixed;
	width: 100%;
	z-index: 99999;
	top: 0px;
}
.blog-left {
	width: 55%;
	float: left;
}
.blog-right {
	width: 45%;
	float: left;
}
.blog-linksection  .blog-wrapper .share_on p span{color:#fff;}
.blog-linksection {
	width: 100%;
	clear: both;
	padding: 25px 0px 25px 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background: #319dd1;	/*width: calc(100% - 11px);*/
}
.blog-linksection h1 {
	font-size: 25px;
	color: #FFF;
	font-weight: 600;
	line-height: normal;
	float: left;
	width: auto;
	text-transform: none;
}
.blog-links {
	float: right;
	width: auto;
}
.blog-links li {
	float: left;
	margin-left: 10px;
}
.blog-links li a {
	padding: 7px 14px;
	float: left;
	font-size: 18px;
	color: #767676;
	transition-duration: 0.3s;
	border: 1px #d3dee7 solid;
	border-radius: 3px;
	position: relative;
}
.blog-links li a:focus {
	color: #fff;
}/*.blog-links li a:hover, .blog-links li a.active{background:#0a83bf; transition-duration:0.3s; color:#fff; border-color:#0a83bf; }*/
.blog-links li a:hover, .blog-links li a.active {
	color: #fff;
	border-color: #0a83bf;
	background: #0a83bf
}
.blog-links li:first-child {
	border-left: 0px;
}
.blog-list {
	width: 100%;
}
.blog-list li {
	width: 100%;
	box-sizing: border-box;
	moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 15px;
	float: left;
	padding-bottom: 35px;
	font-size: 14px;
	color: #4c4c4c;
}
.blog-list li .blogthumb {
	border: 1px #d3dee7 solid;
	background: #fff;
	padding-bottom: 10px;
	transition-duration: 0.3s;
	position: relative;
}
.blogthumb .blog-pragrap {
	padding: 10px 15px 0px 15px
}
.blogthumb .blog-pragrap p {
	padding: 0px 0px 18px 0px;
	font-size: 14px;
}
.blog-list li .blogthumb .blog-img {
	clear: both;
	overflow: hidden;
	height: 155px;
}
.blog-list li .blogthumb .blog-img img {
	transition: all 0.35s ease-in-out 0s;
	position: relative;
}
.blog-left .blog-list li {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin-right: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	width: 50%;
}
.blog-left .blog-list li .blogthumb {
	min-height: 360px;
}
.blog-post-date {
	clear: both;
	padding: 14px 15px 4px 15px;
	color: #6f6f6f;
	font-size: 12px;
}
.blog-post-date em {
	float: right;
	padding: 7px 15px;
	font-style: normal;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9999;
	background-color: rgba(15, 114, 168, 0.8);
	font-size: 14px;
}
.blog-post-date span {
	float: left;
}
.blog-title {
	font-size: 17px;
	font-weight: 600;
	color: #3a3a3a;
	margin: 0px 15px;
	padding-bottom: 10px;
	border-bottom: 1px #d3dee7 solid;
}
.blog-list li .blog-title a {
	color: #000;
	transition-duration: 0.3s;
}
.blog-list li:hover .blog-title a {
	color: #3baedf;
	transition-duration: 0.3s;
}
.blog-right .blog-list li .blogthumb .blog-img {
	height: auto;
}
.blog-left .blog-title {
}/*.blog-tags{margin:0px 15px; padding:8px 0px 10px 0px ; margin-top:4px; color:#6f6f6f; font-size:13px; } .share-icon{background:url(../images/share-icon.png) no-repeat 0px 0px; width:18px; height:18px; float:right; }.blog-tags strong{font-weight:bold; }*/
.allcategory {
	background: #eef2f5;
	width: 100%;
}
.blog-category {
	width: 25%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.blog-category .blog-list li {
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-bottom: 20px;
}
.blog-category .blog-list li .blogthumb {
	border: 0px;
}
.blog-category .blog-list li .blogthumb:hover {
	background: #fff;
}
h3.category-title {
	font-size: 20px;
	color: #000;
	font-weight: 600;
	padding-bottom: 20px;
}
.blog-right .blog-list li {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.blog-buttons {
	width: 100%;
	text-align: center;
	padding: 40px 0px 20px 0px;
	float: left;
}
.blogthumb p {
	padding: 10px 15px;
	font-size: 14px;
	line-height: 21px;
}
.blog-news-title {
	color: #000;
	padding: 15px 15px 10px 15px;
	font-size: 15px;
	transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.blog-news-title a {
	color: #000;
	display: block;
	position: relative;
	padding-top: 55px;
	text-align: center;
	transition-duration: 0.3s;
}
.blog-news-title a:after {
	color: #d6d6d6;
	content: ".";
	width: 38px;
	height: 33px;
	font-size: 0px;
	position: absolute;
	top: 10px;
	margin: auto;
	left: 0px;
	right: 0px;
	background: url(../images/qutos-img.png) no-repeat center;
}
.news-post-list li .blogthumb:hover a {
	color: #3baedf;
	transition-duration: 0.3s;
}
.news-post-list .blog-post-date {
	padding-top: 0px;
}
.news-post-list .blog-post-date span {
	width: 100%;
	text-align: center;
}
.news-post-list .blog-post-date {
	padding-bottom: 2px;
}
.blog-right .blog-list li .blogthumb {
	min-height: 750px;
}  /*************************post**********************/
.post-section .blog-list li {
	width: 25%;
	padding-left: 7px;
	padding-right: 7px;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-left: -3px;
	padding-bottom: 15px;
}
.post-section .blog-list li .blog-title a {
	color: #3a3a3a;
}
.post-section .blog-list li .blogthumb:hover .blog-title a {
	color: #3baedf;
}
.postpage-title h1 {
}
.postpage-title .blog-links {
	padding-right: 0px;
}
.lod-img {
	vertical-align: middle;
	padding: 8px 0 10px 8px;
	display: none;
}
.insight-list {
	padding: 0px 0px 0px 0px;
}
.insight-list .insightsbox {
	width: 48%;
	padding-right: 1.5%;
	position: relative;
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	border-top: 1px solid #dce4eb;
}
.insight-list .insightsbox:first-child {
	border-top: 0px;
	margin-top: 0px;
}
.insight-list .insightsbox:nth-child(2) {
	border-top: 0px;
	margin-top: 0px;
}
.insight-list .insightsbox:nth-child(2n+0) {
	padding-right: 0px;
	margin-left: 1.5%;
}
.insightthumb {
	width: 205px;
	position: absolute;
	top: 20px;
	left: 0px;
	overflow: hidden;
	padding-right: 0px;
	padding-left: 0%;
	height: auto;
	border: 1px #dedede solid;
	max-height: 145px;
}
.insightsbox .insightthumb img {
	float: left;
}
.insights-content {
	padding-left: 220px;
	min-height: 138px;
}
.insightsbox .insights-content h3 {
	font-size: 17px;
	padding-bottom: 2px;
	margin-top: -4px;
}
.insightsbox .insights-content h3 a {
	color: #000;
	transition-duration: 0.4s;
}
.insightsbox:hover .insights-content h3 a {
	color: #3baedf;
	transition-duration: 0.4s;
}
.insights-content p {
	line-height: 20px;
	padding: 8px 0px 5px 0px;
	font-size: 13px;
}
.date-title {
	font-size: 13px;
	color: #979797;
}
.blog-wrapper {
	padding-top: 45px;
}
.blog-wrapper .innerblog h2 {
	padding-bottom: 0px;
}
.blog-wrapper .share_on {
	padding-bottom: 5px;
	display:inline-block;
}
.blog-wrapper .innerblog .author_name {
	padding-bottom: 0px;
	margin-bottom:3px;
}
.blog-wrapper .share_detail {
	padding-bottom: 20px;
}
.blog-wrapper ul.juiz_sps_links_list li {
	background: none;
}
.blog-wrapper .innerblog p {
	padding-bottom: 20px;
	font-size: 15px;
	line-height: 24px;
}
.blog-wrapper .innerblog p img {
	text-align: center;
	display: block;
}
.blog-wrapper .innerblog h3 {
	font-size: 22px;
	color: #000;
}
.blog-list2 {
	padding-bottom: 20px;
	display: table;
	width: 100%;
}
.blog-list2 li {
	width: 100%;
	box-sizing: border-box;
	moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 15px;
	float: left;
	background: url(../images/bulliet1.png) no-repeat 0px 6px;
	font-size: 14px;
	color: #4c4c4c;
	padding: 0px 0px 7px 20px;
}
.blog-wrapper .innerblog div.image {
	overflow: hidden;
	float: left;
	width: 100%;
}
.blog-wrapper .postimage {
	margin-bottom: 30px;
	overflow: hidden;
	float: left;
	width: 100%;
}
.blog-wrapper .share_on p span {
	font-size: 15px;
	color: #b2b2b2;
	padding-top: 10px;
}
.blog-wrapper .request-consultation {
	border-radius: 0px;
	clear: both;
	border-color: #dcdcdc;
	padding-bottom: 0px;
	background: #fafafa
}
.blog-wrapper .innerblog .author_info {
	padding-bottom: 10px;
	border-radius: 0px;
	margin-top: 40px;
	padding-top: 18px;
	overflow: hidden;
	background: #fafafa;
}
.author_social_link {
	padding-bottom: 20px;
}
ul.threecolum li {
	width: 20%;
	float: left;
}
.news-post-list li .blogthumb {
	padding-bottom: 20px;
}
.txt-center {
	text-align: center!important;
}
.innerblog .image img {
	width: 100%;
	height: auto;
}
.innerblog ul {
	margin-bottom: 25px;
}
.innerblog ul li {
	background: url(../images/bulliet1.png) no-repeat 0px 6px;
	font-size: 15px;
	line-height:21px;
	padding: 0px 0px 12px 20px;
}
.blog-wrapper .innerblog .author_info p {
	padding-top: 5px;
	margin-top: 0px;
	line-height: 18px;
	padding-bottom: 5px;
	font-size: 13px;
}
.blog-wrapper .author_info a {
	color: #2484b4!important;
}
.blog-wrapper .author_info a:hover {
	color: #2484b4!important;
	border-bottom: #2484b4 1px dotted;
}
.author-title {
	font-weight: bold;
}
.instight-title .blog-wrapper {
	padding-top: 0px;
}
.instight-title .blog-wrapper .share_on {
	padding-top: 0px;
}
.instight-title .juiz_sps_links .juiz_sps_item .juiz_sps_network_name {
	font-size: 0px;
}
.instight-title .juiz_sps_links .juiz_sps_icon {
	margin-right: 0px;
}
.instight-title .share_on {
	width: 302px;
}
.instight-title .blog-wrapper .share_on p span {
	padding-top: 3px;
}
.instight-title .blog-links li a {
	border-radius: 3px;
}
.allcategory .blog-list li .blogthumb .blog-img {
	height: auto;
}
.title-color1 {
	background-color: rgba(15, 114, 168, 0.9)!important;
}
.title-color2 {
	background-color: rgba(217, 46, 100, 0.9) !important;
}
.title-color3 {
	background-color: rgba(75, 29, 114, 0.9)!important;
}
.title-color4 {
	background-color: rgba(110, 160, 41, 0.9)!important;
}
.title-color5 {
	background-color: rgba(230, 106, 164, 0.9)!important;
}
.title-color6 {
	background-color: rgba(243, 127, 76, 0.9)!important;
}
.brdcrmb-class {
	margin-top: 0px;
	margin-bottom: 20px;
}
.head-fc {
	text-align: justify;
	padding: 20px 0 0 !important;
}
.download_insight {
	text-decoration: underline;
}
.download_insight:hover {
	color: #3baedf;
}
.webinarDateTime {
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	line-height: 26px;
}
.post-section .home-blog-list li {
	width: 33.33%;
	margin-left: 0;
}/* Added by Ajesh */
.slider-wrap-div div.flexslider {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.middle-section .links-single-page {
	margin-top:65px;
}/*********************************event page*********************/
.eventpage h2 {
	color: #535353;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600
}
.event-list {
	padding: 10px 0px 0px 0px;
}
.event-list li {
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding: 7px 7px;
}
.event-list li .event-item {
	border: 1px #d5d5d5 solid;
	min-height: 340px;
	position: relative;
}
.event-list li .event-tag {
	min-width: 85px;
	background: #f37f4c;
	color: #fff;
	font-size: 14px;
	padding: 7px 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-transform: uppercase;
	text-align: center;
}
.event-list li .event-tag:hover {
	color: #fff;
}
.event-list li:nth-child(odd) .event-tag {
	background: #f37f4c
}
.event-list li:nth-child(even) .event-tag {
	background: #45207e;
}
.event-list li:nth-child(2) .event-tag {
	background: #45207e;
}
.event-list li:nth-child(3) .event-tag {
	background: #cc376b;
}
.event-list li:nth-child(4) .event-tag {
	background: #106fa9;
}
.event-img img {
	width: 100%;
	height: auto;
}
.date-icon {
	width: 46px;
	height: 46px;
	background: #0282c3 url(../images/date-icon.png) no-repeat center;
	display: table;
	margin: auto;
	margin-top: 8px;
	border-radius: 100px;
}
.event-date {
	font-size: 14px;
	color: #5fa6ca;
	margin: auto;
	display: table;
	border-bottom: 1px #e8e8e8 solid;
	text-transform: uppercase;
	padding: 10px 10px 8px 10px;
	font-weight: 600;
}
.event-item p {
	font-size: 17px;
	color: #303030;
	padding: 15px 12px 15px 12px;
	text-align: center;
}
hr {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e7e7e7 -moz-use-text-color -moz-use-text-color;
	border-image: none;
	border-style: solid none none;
	border-width: 1px medium medium;
	margin: 0 0 0px;
	width: 100%;
	clear: both;
}
.event-sep {
	margin-top: 70px;
	margin-bottom: 70px;
	float: left;
}
.event-detail .leftpart {
	padding-right: 50px;
	box-sizing: border-box;
}
.event-detail .leftpart h3 {
	font-size: 22px;
	color: #0282c3;
	font-weight: 600;
	padding-top: 30px;
}
.post-date {
	background: #000;
	color: #fff;
	font-size: 15px;
	padding: 10px 20px;
	float: left;
	box-sizing: border-box;
	width: 100%;
}
.post-img {
	float: left;
	width: 100%;
	margin-bottom:20px;
}
.post-img img {
	width: 100%;
	float: left;
}
.bloglist {
	margin-bottom: 25px;
}
.bloglist li {
	background: url(../images/bulliet1.png) no-repeat 0px 7px;
	font-size: 14px;
	color: #4c4c4c;
	padding: 0px 0px 8px 20px;
	line-height: 21px;
}
.speaker-pic {
	width: 90px;
	height: 90px;
	border-radius: 100px;
	border: 2px #2d97cd solid;
	overflow: hidden;
}
.speaker-wrap {
	padding-top: 15px;
}
.speaker {
	width: 45%;
	float: left;
}
.speaker h5 {
	color: #4c4c4c;
	font-size: 20px;
	font-weight: bold;
	padding: 15px 0px 3px 0px;
}
.speaker p em {
	font-size: 15px;
}
.event-detail .rightpart h5 {
	font-size: 19px;
	color: #0282c3;
	font-weight: 600;
	padding-top: 25px;
	padding-bottom: 10px;
}
.event-detail .rightpart h5:first-child {
	padding-top: 0px;
}
.event-address {
	background: url(../images/map-icon.png) no-repeat left top;
	padding: 0px 0px 0px 95px;
	font-size: 15px;
	color: #262626;
	line-height: 25px;
	margin-top: 15px;
}
.right-sep {
	background: #e3e3e3;
	height: 1px;
	width: 100%;
	margin: 30px 0px 0px 0px;
}
.agenda {
	padding-bottom: 10px;
	padding-top: 5px;
}
.agenda-time {
	font-weight: bold;
	font-size: 15px;
	color: #262626;
}
.agenda-topic {
	padding-top: 5px;
}
.event-speaker .speaker {
	width: 50%;
	padding-right: 10px;
	margin-bottom:20px;
}
.event-speaker .speaker h5 {
	font-size: 18px;
}/************add new css for listing*************/
ul.twoline li {
	width: 48%;
	margin-right: 1%;
	display: inline-block;
	vertical-align: top;
}
.event-detail {
	padding-top: 25px;
}

/************Next Previoud*************/

ul.next-prev-link {
	padding: 0 0 30px 0;
	margin: 20px auto 0;
	width: 100%;
	list-style: none;
	overflow: hidden;
	border-bottom: #a5a5a5 solid 1px;
}
ul.next-prev-link li {
	float: left;
	margin-right: 10px;
	/*max-width: 145px;*/
}
ul.next-prev-link li a {
	color: #3c3c3c;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-flex;
	padding: 10px 20px; overflow:hidden;
	border: #a5a5a5 solid 1px;
	border-radius: 45px;
	min-height: 22px;
	transition-duration:0.3s;
}
/*
ul.next-prev-link li a i {
	display: none;
}*/
ul.next-prev-link li a:hover {
	background: #2789d5;
	color: #fff;
	border: #2789d5 solid 1px;  
	transition-duration:0.3s;	
}/*
ul.next-prev-link li a:hover i {
	display: block;
}*/
ul.next-prev-link li.all-link {
	float: right; margin-right:0;
}
ul.next-prev-link li.all-link a {
	padding:15px 20px;
	text-shadow:none;
}
ul.next-prev-link li.prev-link a {
	background: url(../images/arrow-back.png) no-repeat center left;
	/*min-height: 50px;*/
	height: 50px;
	min-width: 52px;
	width:50px;
	transition-duration:0.3s;
	color:#fff;
}
ul.next-prev-link li.prev-link a:hover {
	background: #2789d5 url(../images/arrow-back-h.png) no-repeat center left;
	width:127px;
	transition-duration:0.3s;	
	line-height:25px;
}
ul.next-prev-link li.next-link a {
	background: url(../images/arrow-next.png) no-repeat center right;
	/*min-height: 50px;*/
	height: 50px;
	min-width: 52px;
	width:50px;
	transition-duration:0.3s;
	color:#fff;	
}
ul.next-prev-link li.next-link a:hover {
	background: #2789d5 url(../images/arrow-next-h.png) no-repeat center right;
	width:100px;
	transition-duration:0.3s;
	line-height:25px;		
}
ul.next-prev-link li.prev-link a i {
	padding-left: 20px;
	padding-top: 2px;
	font-style:normal;
	opacity:0;
	display:block;
	position:relative;
	right:-10px;transition-duration:0.2s	
}
ul.next-prev-link li.prev-link a:hover i{opacity:1; position:relative; right:0px;transition-duration:0.2s	 }

ul.next-prev-link li.next-link a i {
	padding-right: 20px;
	padding-top: 2px;
	font-style:normal;
	opacity:0;
	display:block;
	position:relative;
	left:-10px;transition-duration:0.2s		
}
ul.next-prev-link li.next-link a:hover i{opacity:1; position:relative; left:0px;transition-duration:0.2s }
/*.threecollisting ul{width:30%; float:left; margin-right:22px;}*/
.threecollisting .cd3{width:30%; float:left; margin-right:22px;}
.threecollisting p{display:inline-block;}
.threecollisting strong{padding-bottom:10px; display:inline-block;}
/*===== New blog Css ======== */
.inside_blogcon {margin: 0 auto; width: 770px;}
.inside_blogcon .innerblog { margin:0;}
.post-content .viewallblog { margin:6px 0 0 0 !important;  } 
.inside_blogcon h1 {  padding-bottom:40px; font-size:50px; font-weight:200; text-transform: inherit; font-family: "Raleway",sans-serif; color:#292929;}
.inside_blogcon .blog-wrapper  .innerblog .image {float: none;}
.inside_blogcon .innerblog .share_detail p {color: #898989; font-size: 11px; padding:0; float:left;  width: 77%;}
.inside_blogcon span.single_post_author, .inside_blogcon .single_post_date { font-weight:bold; color:#3c3c3c; font-size:13px;}
.inside_blogcon .share_detail { border:solid 1px #e2e2e2;  padding: 10px 10px 15px; margin-bottom:20px;}
.inside_blogcon .share_detail .button { float:right;}
.inside_blogcon .innerblog .tags{width:100%; float:left;}
.inside_blogcon .button { border:solid 1px #319dd1; font-size:12px; font-weight:bold; margin:0; padding: 10px 25px; color: #017ed2; text-transform:uppercase; position:absolute; margin-top:10px;}
.inside_blogcon .button:hover { background:#319dd1; color:#fff;}
.inside_blogcon .tags a.with_bg { background:#818181; display:inline-block; margin-bottom: 5px;}
.inside_blogcon .tags a.with_bg:hover { background:#319dd1;} 
.inside_blogcon .tm-click-to-tweet { background:#0282c3; text-align:center; padding:30px 30px 15px; margin-bottom:30px;}
.inside_blogcon .tm-click-to-tweet a.tm-ctt-btn { float:none; margin:0 auto;}
.inside_blogcon .content_slider_bottom  { background:#002d4c; border:none; padding:35px; margin:20px 0;  text-align: left; overflow:hidden;}
.Subscribe_head { color: #ffffff; font-size: 25px; text-transform: uppercase; text-align:center; padding-bottom:20px;}
.content_slider_bottom .subscribe-icon{width: 16%; float: left; margin-right:10px;}
.content_slider_bottom .subscribe-data{float:left; width:80%;}
.Subscribe_text { color: #ffffff; font-size: 14px; padding: 0px 0 15px; line-height:20px;}
.inside_blogcon .content_slider_bottom .textwidget > form { padding-right: 150px; position: relative;}
.inside_blogcon .subscribe_input { border: medium none; border-radius: 0; font-size: 17px; padding: 15px 20px; width:72%; margin-right: 10px;}
.inside_blogcon input.button[type="submit"] { background: #017ed2 none repeat scroll 0 0; border: none; border-radius: 0; color: #ffffff; padding: 20px 30px; margin:0;}
.inside_blogcon input.button[type="submit"]:hover { background:#0069b0;}
.whitepaper-section { clear: both; padding: 35px 0 25px;width: 100%;}
.whitepaper-left { display: inline-block; padding-right: 10px; vertical-align: top; width: 37%;}
.whitepaper-left img { height: auto; margin-bottom: 0; max-width: 100%;}
.whitepaper-right { display: inline-block; vertical-align: top; width: 60%;}
.whiterpaper-title { color: #0282c3; font-size: 16px; font-weight: bold; padding-bottom: 20px;}
.whitepaper-right h3 { color: #292929; font-size: 24px; font-weight: 400; line-height: normal; margin-bottom: 15px;}
.btn {
  background: #0282c3 none repeat scroll 0 0;
  border-color: #0282c3;
  color: #ffffff;
  display: inline-block; border:solid 2px #0282c3;
  font-size: 12px;
  letter-spacing: 1px;  font-weight: 700;
  margin: 0;
  padding: 5px 20px;
  text-transform: uppercase;
}
.btn:hover { background: #ffffff none repeat scroll 0 0; color: #222222;}

.ioteventlist li {
	font-size: 14px;
	color: #4c4c4c;
	padding: 0px 0px 8px 0px;
	line-height: 21px;
	background:none;
	text-align:center; width:30% !important;
}
.ioteventlist li span {
margin-right:5px;
line-height:35px;
}
.ioteventlist li span.smart_manu{height:60px; background:url(../images/smart_manu.png) no-repeat center; display:block;}
.ioteventlist li span.smart_occu{height:60px; background:url(../images/smart_occu.png) no-repeat center; display:block;}
.ioteventlist li span.smart_office{height:60px; background:url(../images/smart_office.png) no-repeat center; display:block;}
.ioteventlist li span.smart_retail{height:60px; background:url(../images/smart_retail.png) no-repeat center; display:block;}
.ioteventlist li span.smart_health{height:60px; background:url(../images/smart_health.png) no-repeat center; display:block;}
.ioteventlist li span.smart_logi{height:60px; background:url(../images/smart_logi.png) no-repeat center; display:block;}
.ioteventlist li span.pre_mainta{height:60px; background:url(../images/pre_mainta.png) no-repeat center; display:block;}
.ioteventlist li span.remote_monitor{height:60px; background:url(../images/remote_monitor.png) no-repeat center; display:block;}
.ioteventlist li span.predi_analy{height:60px; background:url(../images/predi_analy.png) no-repeat center; display:block;}
.ioteventlist li span.bigdata_analy{height:60px; background:url(../images/bigdata_analy.png) no-repeat center; display:block;}
.ioteventlist li span.data_science{height:60px; background:url(../images/data_science.png) no-repeat center; display:block;}
.ioteventlist li span.data_visualization{height:60px; background:url(../images/data_visualization.png) no-repeat center; display:block;}
.center-img{width:100%; text-align:center; padding:10px 0px 20px 0px;  }
.innerblog h4{padding:10px 0px 10px 0px }


/*========================================*/
/*========================================*/
@media only screen and (max-width:1120px) {
.colum-2_layout .rightpart {
	right: 20px;
}
.blog_tab li a {
	font-size: 22px;
}
}
@media only screen and (max-width:1024px) {
.insights_listing li, .case_study_listing li, .infographics_listing li {
	width: 33.33333%;
}
.blog-linksection h1 {
	width: auto;
	padding-bottom: 0px;
}
}

@media only screen and (max-width:991px) {
.inside_blogcon {
  width: 675px;
}	
.inside_blogcon h1 { font-size: 40px;}	

}
@media only screen and (max-width: 959px) {
.post-section .blog-list li {
	padding-left: 7px;
	padding-right: 7px;
	width: 33.3333%;
}
.insight-list .insightsbox {
	width: 100%;
}
.posts li {
	float: none;
	width: 100%;
}
.blog_tab li a {
	font-size: 17px;
}
.blog_banner_bg {
	margin: 16% auto;
}
.colum-2_layout .leftpart {
	width: 67%;
}
.rightpart {
	width: 32%;
}
.blog_banner h1 {
	padding-top: 28%;
}
.sidebar_block .socia_list li {
	margin-right: 0px;
}
.socia_list img {
	width: 34px;
}
.colum-2_layout.sidebar_block2 .rightpart {
	width: 30%;
}
.colum-2_layout .leftpart {
	width: 100%;
}
.colum-2_layout .rightpart {
	width: 100%;
}
.colum-2_layout.sidebar_block2 .rightpart {
	margin-left: 0px;
	width: 100%;
	border-left:0;padding-left:0;
}
.colum-2_layout.sidebar_block2 .leftpart {
	border-right: 0px;
}
.insight-list .insightsbox:nth-child(2n) {
	margin-left: 0px;
}
.event-list li {
	width: 33.33333%;
}
.event-detail .leftpart {
	padding-right: 0px;
}
.section-row .event-detail .rightpart {
	padding-left: 0px;
	border-left: 0px;
}
.inside_blogcon .content_slider_bottom{padding:30px 20px;}
.content_slider_bottom .subscribe-icon{margin-right: 20px;}
.inside_blogcon .subscribe_input{width:69%;}
}
@media (max-width: 979px) {
.menu-fixed, .infographic-menu-fixed {
	display: none;
}
.blog-linksection {
	margin-top: 0px;
}
.middle-section .links-single-page{margin-top:62px;}
.inside_blogcon .innerblog .share_detail p{width:70%;}
}
@media only screen and (max-width:800px) {
.middle-section .links-single-page {
	margin-top: 62px;
}
.blog_tab li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	border-left: 0;
}
.blog_inner_banner h1 {
	font-size: 44px;
}
.whitepaper_post_bg li {
	padding: 10px;
}
.small_banner_bg {
	padding: 20px 156px 20px 25px;
}
.small_banner_bg p {
	font-size: 22px;
}
.blog-left {
	width: 100%;
}
.blog-right {
	width: 100%;
}
.blog-left .blog-list li {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}
.blog-category .blog-list li {
	padding-left: 0px;
}
.blog-category {
	width: 50%
}
.blog-right .blog-list li .blogthumb {
	min-height: inherit;
	padding-left: 10px;
	padding-right: 10px;
}
.blog-list li .blogthumb .blog-img img {
	width: 100%;
	height: auto;
}
.blog-category {
	float: none;
	margin-left: -3px;
	display: inline-block;
	vertical-align: top;
}
.event-list li {
	width: 50%;
}

.inside_blogcon .button{position:inherit;}
}
@media only screen and (max-width: 767px) {
.middle-section .links-single-page{margin-top:0px;}	
.inside_blogcon {
  width: 95%;
}	
.inside_blogcon .innerblog .share_detail p { width: 100%; text-align:center;}
.inside_blogcon .innerblog .tags{width:100%; text-align:center; margin-top:10px;}
.inside_blogcon .share_detail .button { display: inline-block; float: none; margin-top: 10px; width:100%;}

.colum-2_layout .leftpart {
	float: none;
	margin-right: 0;
	border: 0
}
.colum-2_layout .rightpart {
	position: inherit;
	margin: 0 auto;
	width: 100%;
	right: inherit;
	margin-top: 30px;
}
.innerblog {
	margin-right: 0;
}
.whitepaper {
	text-align: center;
}
.posts {
	margin-right: 0;
}
.our_resources_list li {
	width: 49.5%;
	display: inline-block
}
.social_connection {
	text-align: center;
}
.rightpart h2 {
	font-size: 21px;
}
.blog_banner_bg {
	display: table;
	margin: 10% auto;
}
.whitepaper_box_bg h2 {
	font-size: 14px;
}
.colum-2_layout.sidebar_block2 .leftpart {
	border: 0;
}
.insights_listing li, .case_study_listing li, .infographics_listing li {
	width: 50%;
}
.blog_inner_banner h1 {
	line-height: 40px;
}
h3.category-title {
	padding-top: 20px;
}
.blog-list li {
	padding-left: 7px;
	padding-right: 7px;
}
.blog-links {
	text-align: right;
	padding-top: 16px;
}
.blog-links li {
	float: none;
	display: inline;
	margin-left: 2px;
}
.blog-links li a {
	font-size: 14px;
	padding: 6px 8px;
	float: none;
}
.post-section .blog-list li {
	width: 50%;
}
.instight-title .blog-wrapper {
	padding-top: 10px;
	clear: both;
}
.instight-title .blog-wrapper .juiz_sps_links {
	clear: none;
}
.blog-linksection h1 {
	width: 100%;
	padding: 0;
}
.eventpage h2 {
	font-size: 18px;
}
.blog-linksection {
	margin-top: 0;
	padding-bottom: 20px;
	padding-top: 20px;
}
.content_slider_bottom .subscribe-icon{width:100%; text-align:center; float:none; margin:0 0 10px;}
.content_slider_bottom .subscribe-data{width:100%; text-align:center; float:none;}
.inside_blogcon .subscribe_input{width:100%;margin:0 0 20px;}
}
@media screen and (max-width: 640px) {
	
.inside_blogcon h1 { font-size: 30px;  line-height: normal;}	

	
.blog-left {
	width: 100%;
}
.blog-right {
	width: 100%;
}
.blog-left .blog-list li {
	padding-right: 0px;
}
.posts li .date {
	margin-left: -12.5%;
}
.blog_banner_bg {
	width: 80%;
	display: block;
	margin: 0 auto;
}
.blog_banner_detail {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: none;
	padding: 20px;
}
.blog_banner_detail_left img {
	max-width: 100%;
}
.blog_banner_detail_left, .blog_banner_detail_right {
	float: none;
	width: 100%;
	text-align: center
}
.blog_banner_detail_right h2 {
	padding: 10px 0 20px;
	font-size: 18px;
	line-height: 28px;
}
.blog_inner_banner h1 {
	font-size: 28px;
}
.whitepaper_post_bg li, .whitepaper_post_bg li.none-margin {
	width: 48%;
	margin: 0 0 4.2% 0;
	padding: 20px;
}
.whitepaper_post_bg li:nth-child(2n) {
	float: right;
}
.whitepaper_box_bg h2 {
	height: 38px;
}
.blog-linksection h1 {
	padding-bottom: 20px;
}
ul.twoline li {
	width: 100%;
	padding-right: 0px;
}
.threecollisting ul{width:100%;}
}
@media only screen and (max-width: 600px) {
.posts {
	margin-right: 0;
}
.posts li .image, .posts li .textpart {
	width: 100%;
	float: none;
}
.posts li .image {
	margin-bottom: 15px;
}
.posts li h2 {
	font-size: 18px;
}
.our_resources_list li {
	width: 100%;
}
.whitepaper_post_bg li, .whitepaper_post_bg li.none-margin {
	width: 100%;
	margin: 0 0 4.2% 0;
	padding: 20px;
}
.whitepaper_box_bg h2 {
	height: 38px;
	height: auto;
	font-size: 18px;
}
.whitepaper_box_bg h2 br {
	display: none;
}
.colum-2_layout .leftpart {
	width: 100%;
}
.blog_banner h1 {
	padding-top: 8%;
}
.colum-2_layout.sidebar_block2 .rightpart {
	width: 100%;
	margin-left: 0;
}
.ioteventlist li span{line-height:normal;}
.inside_blogcon .content_slider_bottom .textwidget > form { padding-right: 0;}
.inside_blogcon input.button[type="submit"] { margin-top: 20px; position: relative;}



}
@media only screen and (max-width: 550px) {
.insights_listing li, .case_study_listing li, .infographics_listing li {
	width: 100%;
}
.blog_banner h1 {
	font-size: 35px;
}
.blog-left .blog-list li {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.blog-left .blog-title {
	min-height: auto;
}
.blog-list li .blogthumb .blog-img {
	height: auto;
}
.blog-links li {
	float: left;
}

.whitepaper-left { padding-right: 0; text-align: center;  width: 100%;}
.whitepaper-right { padding-top: 0; width: 100%;}
.whiterpaper-title { padding-top: 15px;}
.blog-linksection {
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 20px;
}


}
@media only screen and (max-width: 479px) {	
.author_info .socialmedia li {
	padding: 0 4px;
}
.free_trial {
	display: block;
}
.free_trial .blue_mini_bt {
	margin-left: -30%;
}
.blog_banner_bg {
	width: 90%;
}
.small_banner_bg {
	padding: 20px;
	text-align: center
}
.small_banner_bg p {
	font-size: 22px;
}
.small_banner_bg .twitter_share_bt {
	position: relative;
	margin-top: 15px;
	right: 0;
	top: 0;
	display: inline-block;
}
.sidebar_block .socia_list li {
	margin-right: 7px;
}
.blog-list li {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}
.blog-category {
	width: 100%;
}
.post-section .blog-list li {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}
.insightthumb {
	position: relative;
	width: 100%;
	text-align: center;
}
.insightthumb img {
	width: 100%;
	height: auto;
}
.insights-content {
	padding-left: 0px;
	padding-top: 25px;
}
.blog-category .blog-list li {
	padding-right: 0px;
}
.post-section .blog-list li {
	margin-left: 0px;
}
.blog-links li {
	float: left;
	display: inline-block;
	margin: 10px 2px;
}
.event-list li {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.speaker {
	width: 100%;
	padding-bottom: 25px;
}
.event-speaker .speaker {
	width: 100%;
	position: relative;
}
.speaker {
	position: relative;
	padding-left: 102px;
}
.speaker-pic {
	position: absolute;
	left: 0px;
	top: 6px;
}
.blog-linksection h1 {
	font-size: 18px;
}
.event-detail .leftpart h3 {
	font-size: 16px;
}
.insight-list .insightsbox:first-child {
	padding-top: 0
}
.ioteventlist li {width:47% !important;}
}
@media only screen and (max-width:399px) {
.blog-links {
	padding-top: 0px;
}
.blog-links li a {
	font-size: 15px;
}
.blog-links li {
	float: left;
	display: inline-block;
	margin: 9px 3px;
}
}
.event-list li:nth-child(4n+5) {
	clear: both;
}
.event-list .event-item p {
	min-height: 96px;
}
.ics-file-download {
	background: url(../images/icsfiledownload.png) no-repeat;
	padding-left: 35px !important;
	cursor: pointer;
	margin-top: 25px;
	padding-top: 0px !important;
	margin-bottom: 10px;
	padding-bottom: 0px !important;
	width: -moz-max-content
}
.padbottom20 {
	margin-bottom: 20px;
}
.blog-links .share_on ul.juiz_sps_links_list li a {
	width: 45px;
	height: 35px;
}
